APP_NAME="min-rag"
APP_VERSION="0.1"
OPENAI_API_KEY=""


FILE_ALLOWED_TYPES=["plaintext", "application/pdf"]
FILE_MAX_SIZE=10  # 10MB
FILE_DEFAULT_CHUNK_SIZE=512000 # 512KB


# ========================= LLM Config =========================
GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "COHERE"

OPENAI_API_KEY=""
OPENAI_API_URL=
COHERE_API_KEY=""

GENERATION_MODEL_ID="gpt-3.5-turbo-0125"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384

INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1